.layout_row {
  display: flex;
  align-items: center;
}

.layout_row_right {
  display: flex;
  justify-content: flex-end;
}

.layout_row_evenly {
  display: flex;
  justify-content: space-evenly;
}

.layout_row_wrap {
  display: flex;
  flex-wrap: wrap;
}

.layout_column {
  display: flex;
  flex-direction: column;
}

.layout_column_center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.layout_column_under {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.layout_column_evenly {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.layout_column_between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.layout_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1440px;
  min-width: 360px;
  padding: 5rem;
}

@media (max-width: 1024px) {
  .container {
    padding: 4rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 2rem;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 1rem;
  }
}

.container_inner {
  width: 100%;
  max-width: 1440px;
  min-width: 360px;
  padding: 2rem;
}

@media (max-width: 1024px) {
  .container_inner {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .container_inner {
    padding: 0.5rem;
  }
}

@media (max-width: 640px) {
  .container_inner {
    padding: 0.25rem;
  }
}

.container_content {
  width: fit-content;
  height: fit-content;
}

.container_font {
  width: fit-content;
  height: fit-content;
  /* padding: ?;
  border-radius: ?; */
}

.container_modal {
  display: none;
}

.container_monsterball {
  position: absolute;
}

.container_profile {
  width: 10rem;
  height: 10rem;
  padding: 2rem;
}
@media (max-width: 1024px) {
  .container_profile {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .container_profile {
    padding: 0.5rem;
  }
}

@media (max-width: 640px) {
  .container_profile {
    padding: 0.25rem;
  }
}

.font_xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.font_l {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.font_m {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.font_s {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
}

.img_profile {
  width: 100%; /* 너비 196픽셀 */
  height: 100%; /* 높이 202픽셀 */
  background-color: #86645f; /* 배경색 (선택 사항) */
  border: 1px solid #000000; /* 테두리 (선택 사항) */
  border-radius: 30px;
}

.img_inline_xl {
  height: 2.25rem;
}

.img_inline_l {
  height: 2rem;
}

.img_inline_m {
  height: 1.75rem;
}

.img_inline_s {
  height: 1.75rem;
}

.img_monsterball {
  width: 20%;
  cursor: grab;
}

.line {
  width: 100%;
  height: 1px;
  color: #e0e0e0;
  margin: 16px;
}

.bg_color_red {
  color: #ef4036;
}

.bg_color_brown {
  color: #86645f;
}

.bg_color_purple {
  color: #612272;
}

.bg_color_orange {
  color: #ed8b00;
}

.bg_color_blue {
  color: #3776ab;
}

.font_color_red {
  color: #ef4036;
}

.font_color_brown {
  color: #86645f;
}

.font_color_purple {
  color: #612272;
}

.font_color_orange {
  color: #ed8b00;
}

.font_color_blue {
  color: #3776ab;
}
